.month {
   display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.monthHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.dayCell {
 font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dayCell:hover {
background-color: #f0f0f0;
  box-shadow: 0 0 0 3px #87ceeb;
}